<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info   fd7e14-->
        <div class="sidenav-header-inner text-center">
          <h2 class="h5">MAPS</h2>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> </a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        
        <ul id="side-main-menu" class="side-menu list-unstyled">                 
          
          <!--
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Inventario </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li><a routerLink="listabienes">Bienes</a></li>
              <li><a routerLink="suministros">Suministros</a></li>
              <li><a routerLink="prestamos">Prestamos</a></li>
              <li><a routerLink="mantenimientos">Mantenimientos</a></li>
              
            </ul>
          </li>

          <li>
            <a routerLink="pedidos"> <i class="fa fa-shopping-cart"></i>Pedidos</a>
          
          </li>
          <li>
            <a routerLink="productos"> <i class="fa fa-archive"></i>Productos</a>
          
          </li>
          -->
          <li>
            <a routerLink="dispositivos"> <i class="fa fa-users"></i>Dispositivos</a>
          
          </li>
          <li>
            <a routerLink="monitoreo"> <i class="fa fa-users"></i>Monitoreo</a>
          
          </li>
          
        </ul>
      </div>
      <!--
      <div class="admin-menu">
        <h5 class="sidenav-heading">Second menu</h5>
        <ul id="side-admin-menu" class="side-menu list-unstyled"> 
          <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
          <li> <a href="#"> <i class="icon-flask"> </i>Demo
              <div class="badge badge-info">Special</div></a></li>
          <li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
          <li> <a href=""> <i class="icon-picture"> </i>Demo</a></li>
        </ul>
      </div>
      -->
    </div>
  </nav>
